body {
	margin: 0;
	padding: 0;
	font-family: cursive;

	display: flex;
	flex-direction: column;
}

header {
	padding-inline: 30px;
	text-align: left;
	color: white;
	background-color: black;
}

main {
	min-height: 100vh;
	background: lightgray;
	display: flex;
}

aside {
	background: darkgray;
}

.board-brand {
	text-align: center;
	color: #4aad4a;
	font-size: 50px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.board {
	width: 900px;
	height: 500px;
	margin: 50px;
	background-color: #4aad4a;
	border: 20px solid #966F33;
	border-radius: 400px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.left-board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 35px;
}

.bottom-left-board {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 125px;
}

.board-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.board-card-text {
	color: hsl(0,0%,90%);
	font-size: 20px;
}

.board-card-dice {
	border: 2px solid hsl(0,0%,90%);
	border-radius: 10px;
}

.board-card-rolled-dice {
	width: 320px;
	height: 70px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.board-card-locked-dice {
	width: 190px;
	height: 130px;

	display: grid;
	grid-template-rows: repeat(2, 50px);
	grid-template-columns: repeat(3, 50px);
	justify-content: center;
	align-content: center;
	gap: 10px;
}

.board-card-final-dice {
	width: 70px;
	height: 320px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.board-dice {
	width: 50px;
	aspect-ratio: 1 / 1;
	border-radius: 8px;
}

.board-card-rolled-dice .board-dice {
	cursor: pointer;
}

.score-table {
	border-spacing: 2px;
}

.score-table th, td {
	min-width: 100px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	color: black;
	background: linear-gradient(to right, hsl(0,0%,100%), hsl(0,0%,75%));
}

.score-table th:first-child, td:first-child {
	min-width: 200px;
}

.score-table td:first-child, tr:first-child th:not(:first-child)  {
	color: white;
	background: linear-gradient(to right, hsl(0,0%,25%), hsl(0,0%,0%));
}

.score-table-dice {
	width: 25px;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
}

.total-box {
	background: hsl(0, 0%, 50%) !important;
	color: #fff !important;
}

.locked-box {
	background: hsl(240, 100%, 70%) !important;
	color: #fff !important;
}

.roll-button-border {
	width: 120px;
	aspect-ratio: 1 / 1;
	background: linear-gradient(to top, #DC143C, #B22222);
	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.roll-button {
	width: 100px;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	background: linear-gradient(to bottom, #DC143C, #B22222);
	border: 1px solid hsl(0,100%,50%);
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.roll-button > span {
	color: hsl(0,0%,90%);
	font-size: 25px;
	user-select: none;
}
